#gridBox{
  display: grid;
  padding: 2vw 5vw 0vw 5vw;/*use some padding to prevent content and social media icons from collision*/
  grid-template-rows: 1fr repeat(6);
  grid-template-columns: 1fr 1fr;
  grid-template-areas:/*specify the arrangement of the content*/
  "welcomeAnimationBox welcomeAnimationBox"
  "portraitBox aboutBox"
  "interestsBox interestsBox"
  "physicsImageBox physicsTextBox"
  "philosophyImageBox philosophyTextBox"
  "footerBox footerBox"
  ;
}

.box{
  width: fit-content;
  height: fit-content;
  overflow: hidden;
}

#welcomeAnimationBox{
  grid-area: welcomeAnimationBox;
}

#portraitBox{
  grid-area: portraitBox;
}

#portraitImage {
  width: 30vw;
}

#aboutBox{
  grid-area: aboutBox;
}

#interestsBox{
  grid-area: interestsBox;
}

#physicsImageBox{
  grid-area: physicsImageBox;
}

#physicsTextBox{
  grid-area: physicsTextBox;
}

#philosophyImageBox{
  grid-area: philosophyImageBox;
}

#philosophyTextBox{
  grid-area: philosophyTextBox;
}

#footerBox{
  grid-area: footerBox;
}

@media screen and (max-width: 550px) {
  #gridBox{
    grid-template-rows: 1fr repeat(7);
    grid-template-columns: 100%;
    grid-template-areas:
    "welcomeAnimationBox"
    "portraitBox"
    "aboutBox"
    "interestsBox"
    "physicsImageBox"
    "philosophyImageBox"
    "footerBox"
    ;
  }
}